body {
    min-height: 100vh;
    background-color: #f2f2f2;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit], button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px 0px 0px 0px;
}

input[type=submit]:hover, button:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.form-container {
    padding: 20px;
    width: 40%;
    border-right: 2px solid #04AA6D;
}

.container {
    display: flex;
    justify-content: center;
}

.tasks {
    width: 60%;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.task-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.task-header {
    text-align: left;
    margin-bottom: 5px;
}

button {
    margin: 0px 20px;
}

p {
    text-align: left;
}

@media screen and (max-width: 800px) {
    .col-25, .col-75, textarea {
        width: 100%;
        margin-top: 0;
    }

    button {
        margin: 0px 0px 0px 10px;
    }

    .form-container, .tasks {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .form-container {
        border-right: none;
        border-bottom: 2px solid #04AA6D;;
    }
}

@media screen and (max-width: 400px) {
    input[type=submit] {
        width: 100%;
    }

    .task-info {
        flex-direction: column;
        align-items: stretch;
    }
}